.btn {
  border: none;
  border-radius: 15px;
  text-decoration: none;
  padding: 12px 20px;
  margin-right: 15px;
  font-weight: 600;
  font-size: 14px;
  transition: 0.25s;
  border: 3px solid #77af9c;
  color: darkgray;
  background-color: white;
}

.btn:hover {
  background-color: #77af9c;
  color: #d7fff1;
  letter-spacing: 1px;
  transform: scale(1.001);
  cursor: pointer;
}

.info {
  position: relative;
  background-color: lightgray;
  color: #000;
  text-align: center;
  height: 24px;
  line-height: 22px;
  border-radius: 4px;
  padding: 2px 10px;
}

.close {
  position: absolute;
  right: -6;
  top: -6;
  color: #000;
  z-index: 6;
}